@import "./Theme.scss";

.Parent {
  background-color: $bg;
  padding: 100px 0;
}

.FirstPart {
  width: 100%;
  max-width: 1270px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  gap: 15px;
  padding: 0 80px;
  margin: 0 auto;

  .Left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    .About {
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
    }

    .We {
      font-size: 62px;
      font-weight: 700;
      line-height: 1.161em;
    }

    .At {
      color: $grey;
      line-height: 1.667em;
    }
  }

  .Right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .Main {
      width: 100%;
      height: auto;
      max-width: 445px;
      max-height: 502px;
      //   aspect-ratio: 445/502;
      object-fit: contain;
      //   filter: drop-shadow(0 0 8px gray);
    }

    .Dupler {
      width: 190px;
      height: auto;
      position: absolute;
      bottom: 20%;
      aspect-ratio: 25/29;
      left: 0;
      border-radius: 16px;
    }

    .Delivery {
      width: 190px;
      height: auto;
      position: absolute;
      bottom: 10%;
      right: 0;
      border-radius: 8px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     RWD                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.FirstPart {
  @media screen and (max-width: 1050px) {
    flex-wrap: wrap;

    .Left,
    .Right {
      width: 100%;
      text-align: center;
      align-items: center;
    }

    .Right {
      max-width: 500px;
      margin: 50px auto 0;
    }
  }
}
