.Page {
  min-width: 100vw;
  min-height: 100vh;
}

.ExcludeNav {
  padding: 70px 40px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  max-width: 1270px;
  margin: 0 auto;
}
