@import "./Theme.scss";

.Parent{
  background-color: $bg;
}

.SecondPart {
  width: 100%;
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 100px;
  margin: 0 auto;

  .Stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .Main {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.179em;

    span {
      font-size: 56px;
      font-weight: 700;
      line-height: 1.179em;
      color: $primary;
    }
  }

  .Sub {
    color: $grey;
    font-weight: 500;
    line-height: 1.111em;
  }
}
