@import "./Theme.scss";

.ThirdPart {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  gap: 28px;
  padding: 30px 80px 100px;

  .Left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .Main {
      width: 100%;
      height: auto;
      max-width: 445px;
      border-radius: 24px;
      filter: drop-shadow(0 0 2px black);
    }
  }

  .Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    .About {
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
    }

    .Our {
      font-size: 62px;
      font-weight: 700;
      line-height: 1.161em;
    }

    .Sed {
      color: $grey;
      line-height: 1.667em;
    }
  }
}

.FourthPart {
  flex-direction: row-reverse;
}
